$color-main:#e33b73;
$color-alt: #fcba03;

$text-color-main: black;
$text-color-alt: rgba(0,0,0,0.8);

// Colors
$black : #000;
$white : #fff;

$greyDark : #1e1e1e;
$green : #00ff75;
$lightGrey : #faf9f9;
